/* purgecss start ignore */
.theme-dark {
  --background-primary: #2d4061;
  --background-secondary: #06b6d4;
  --background-accent: #111c29;
  --border-primary: #2d3748;
  --border-secondary: #06b6d4;
  --border-accent: #1a202c;
  --font-primary: #ffffff;
  --font-remark: #06b6d4;
  --font-secondary: #000000;
  --font-ternary: #a0aec0;
}
/* purgecss end ignore */
